.component-banner {
  position: relative;
  background-image: url("../../img/image-banner.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: rgba(45, 45, 45, 1);
  display: flex;
  flex-direction: column;
  height: 510px;
  border-radius: 0 0 40px 40px;
}

.banner-apresentation {
  color: white;
  padding-inline: 80px;
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 900px;
}

.banner-text {
  display: flex;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  width: 750px;
  justify-content: center;
}

.image-banner-scroll {
  height: 100px;
  width: 72px;
}

.banner-text-titulo {
  font-weight: bolder;
  font-size: 57px;
}

.banner-text-descricao {
  font-size: 24px;
  line-height: 27.02px;
  letter-spacing: 2px;
  font-weight: 100;
}

@media (max-width: 992px) {
  .component-banner {
    background-position: 200px;
  }
  
  
  .banner-apresentation {
    padding-inline: 20px;
    width: 250px;
  }

  .banner-text {
    width: 250px;
    padding-inline: 20px;
  }

  .banner-text-titulo {
    font-weight: bolder;
    font-size: 30px;
  }

  .banner-text-descricao {
    font-size: 15px;
  }
}