.component-cards {
  display: flex;
  padding: 0 80px 80px 80px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.cards-card {
  width: 30.5%;
  height: 280px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: solid rgba(223, 187, 254, 1) 1px;
}

.cards-card-text {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.cards-card-titulo {
  font-weight: 400;
  font-size: 26px;
}

.cards-card-descricao {
  font-weight: 100;
  font-size: 23px;
}

.cards-card-button {
  padding: 15px 40px;
  background-color: rgba(223, 187, 254, 1);
  width: 180px;
  border-radius: 8px;
}

@media (max-width: 992px) {

  .component-cards {

    padding: 0 40px 40px 40px;

  }


  .cards {

    justify-content: center;
    flex-direction: column;

  }


  .cards-card {

    width: 45%;

  }


  .cards-card-titulo {

    font-size: 24px;

  }


  .cards-card-descricao {

    font-size: 20px;

  }

}


@media (max-width: 768px) {

  .cards-card {

    width: 100%;

  }


  .cards-card-titulo {

    font-size: 22px;

  }


  .cards-card-descricao {

    font-size: 18px;

  }

}


@media (max-width: 480px) {

  .cards-card-button {

    width: 100%;

    padding: 10px;

  }

}