.component-header {
  padding: 32px 80px 64px 80px;
  gap: 45px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.image-header-logo {
  width: 160px;
  height: 28px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  gap: 50px;
  font-weight: 100;
  font-size: 23px;
  line-height: 23.56px;
}

.image-header-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .component-header {
    padding: 32px 20px 64px 20px;
  }

  .header-menu {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgba(223, 187, 254, 1);
    color: black;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
  }

  .image-header-menu {
    display: flex;
  }

  .header-menu.active {
    display: flex;
  }
}