.component-publicity {
  padding: 80px;
  display: flex;
}

.publicity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(60, 12, 96, 1);
  padding: 50px;
  border-radius: 30px;
}

.publicity-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  gap: 10px;
}

.publicity-text-titulo {
  font-weight: 500;
  font-size: 45px;
}

.publicity-text-descricao {
  font-weight: 100;
  font-size: 28px;
  width: 90%;
}

.publicity-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 992px) {
  .component-publicity {
    padding: 40px;
  }

  .publicity {
    flex-direction: column;
    align-items: flex-start;
  }

  .publicity-text {
    width: 100%;
  }

  .publicity-images {
    width: 100%;
  }

  .publicity-text-titulo {
    font-size: 36px;
  }

  .publicity-text-descricao {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .publicity-text-titulo {
    font-size: 30px;
  }

  .publicity-text-descricao {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .publicity-text-titulo {
    font-size: 24px;
  }

  .publicity-text-descricao {
    font-size: 18px;
  }
}